doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
        h1 Home Farm Cottages
        ul
            li: a(href='/') Home
            li: a(href='/about') About
            li: a(href='/contact') Contact

    block content
